.Logo{
  position: absolute;
  display: flex;
  width: 411px;
  height: 68.5px;
  top: 183px;
  left: 514px;

}

.App{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}